<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="../../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../../Content/bootstrap-responsive.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery-1.9.1.js"></script>
    <script src="../../../Scripts/bootstrap.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="span12">

                <!-- show employees -->
                <h2>Display</h2>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Department</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="icon-zoom-in pull-right" /></td>
                            <td>Wahlin, Dan</td>
                            <td>danwahlin@xmlasp.com</td>
                            <td>Consulting</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" href="#">Action
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="icon-zoom-in pull-right" /></td>
                            <td>Allen, Scott</td>
                            <td>scott@OdeToCode.com</td>
                            <td>Sales</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" href="#">Action
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="icon-zoom-in pull-right" /></td>
                            <td>Xavier, Spike</td>
                            <td>spike@punkrock.com</td>
                            <td>Consulting</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" href="#">Action
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-mini btn-info">Add new</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="span12">

                <h2>Edit / Add</h2>

                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputFirstName">First Name</label>
                        <div class="controls">
                            <input type="text" id="inputFirstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputLastName">Last Name</label>
                        <div class="controls">
                            <input type="text" id="inputLastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email</label>
                        <div class="controls">
                            <input type="email" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputDepartment">Department</label>
                        <div class="controls">
                            <select id="inputDepartment">
                                <option value="1">Consulting</option>
                                <option value="2">Sales</option>
                                <option value="3">Marketing</option>
                                <option value="4">Human Resources</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>



</body>
</html>
