<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="../../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../../Content/bootstrap-responsive.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery-1.9.1.js"></script>
    <script src="../../../Scripts/bootstrap.js"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">

                <!-- prototype -->
                <form action="" method="post">
                    <fieldset>
                        <label>Username</label>
                        <input id="username" placeholder="Username" type="text" />
                        <label>Password</label>
                        <input id="password" placeholder="Password" type="password" />
                        <label class="checkbox">Remember Me?
                            <input id="rememberme" type="checkbox" checked />
                        </label>
                        <button class="btn btn-primary" type="submit">Sign In</button>
                    </fieldset>
                </form>
                <!-- end prototype -->

            </div>
        </div>
    </div>

</body>
</html>
