<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="../../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../../Content/bootstrap-responsive.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery-1.9.1.js"></script>
    <script src="../../../Scripts/bootstrap.js"></script>

</head>
<body>

    <!-- begin prototype -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="">TimeCards</a>
            <ul class="nav">
                <li class="active"><a href="#">Timesheets</a></li>
                <li><a href="#">Employees</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Reports
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Expenses</a></li>
                        <li><a href="#">Hours Worked</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- end prototype -->


</body>
</html>
