<div class="view">
    <div class="row timesheet">
        <div class="span12">
            <header class="clearfix"><img src="/Content/images/chart.png" class="icon" /> <span class="head">Hours Report</span></header>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead> 
                <tbody>
                    <tr>
                        <td colspan="5">Report Data</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
