<div class="view">
    <div class="row">
        <div class="span12">
            <header class="clearfix">
                <img src="/Content/images/report.png" class="icon" />
                <span class="head">Summary Report</span>
            </header>
        </div>
    </div>
    <div class="row timesheet">
        <div class="span6">            
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Hours</th>
                        <th>Category</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="summary in summaryData">
                        <td>{{summary.hours}}</td>
                        <td>{{summary.category}}</td>
                        <td>{{summary.department}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span6">
            <div data-highchart model="pieData">
                
            </div>
        </div>
    </div>
</div>
